/**
 * Admin theming for some parts that need additional love. This CSS file is only
 * included on the administration overview form.
 */


#preview-sync-overview .table {
  margin-bottom: 10px;
}

#preview-sync-overview .tasks .task {
  float: left;
  width: 11.11%;
}

#preview-sync-overview .tasks .box {
  width: auto;
  text-align: center;
  height: 90px;
  background-color: rgb(255, 255, 221);
  margin-right: 5px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

#preview-sync-overview .tasks .box span {
  font-size: 2em;
  padding-top: 1em;
  display: block;
}

#preview-sync-overview .tasks .index {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin: 10px;
}

#preview-sync-overview .tasks .title {
  display: block;
  text-align: center;
}

#preview-sync-overview .tasks .box.success {
  background-color: rgb(221, 255, 221);
}

#preview-sync-overview .tasks .box.failure {
  background-color: #f0a4a2;
}

#preview-sync-overview .tasks .box.in-progress {
  background-color: rgb(221, 255, 221);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(221, 255, 221)),
    color-stop(1, rgb(84,240,84))
   );
  background-image: -webkit-linear-gradient(
    center bottom,
    rgb(221, 255, 221) 37%,
    rgb(84,240,84) 69%
   );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(221, 255, 221) 37%,
    rgb(84,240,84) 69%
   );
  background-image: -ms-linear-gradient(
    center bottom,
    rgb(221, 255, 221) 37%,
    rgb(84,240,84) 69%
   );
  background-image: -o-linear-gradient(
    center bottom,
    rgb(221, 255, 221) 37%,
    rgb(84,240,84) 69%
   );
  position: relative;
  overflow: hidden;
}

#preview-sync-overview .tasks .box.in-progress:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image:
     -webkit-gradient(linear, 0 0, 100% 100%,
        color-stop(.25, rgba(255, 255, 255, .2)),
        color-stop(.25, transparent), color-stop(.5, transparent),
        color-stop(.5, rgba(255, 255, 255, .2)),
        color-stop(.75, rgba(255, 255, 255, .2)),
        color-stop(.75, transparent), to(transparent)
     );
  background-image:
    -webkit-linear-gradient(
      -45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent
     );
  background-image:
    -moz-linear-gradient(
      -45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent
     );
  background-image:
    -ms-linear-gradient(
      -45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent
     );
  background-image:
    -o-linear-gradient(
      -45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent
     );
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size:    50px 50px;
  background-size:         50px 50px;
  -webkit-animation: move 2s linear infinite;
     -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
         -moz-border-radius-topright: 8px;
      -moz-border-radius-bottomright: 8px;
             border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
      -webkit-border-top-left-radius: 20px;
   -webkit-border-bottom-left-radius: 20px;
          -moz-border-radius-topleft: 20px;
       -moz-border-radius-bottomleft: 20px;
              border-top-left-radius: 20px;
           border-bottom-left-radius: 20px;
  overflow: hidden;
}

@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

#preview-sync-overview .tasks .box.in-progress:after {
  -webkit-animation: move 2s linear infinite;
}

